

@import url('https://fonts.googleapis.com/css2?family=Nova+Square&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,400;0,500;1,100;1,200;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Preahvihear&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200&display=swap');
body{
    margin: 0;
    padding: 0;
   margin-top: 0;
    min-height: 100vh;
    background: linear-gradient(to bottom, #ffffff, #fcf7f2,#ffeed4,#FFF2D8);
    font-family: 'Montserrat', sans-serif;


    
}
.Container{
    margin: 15px;
    padding: 0;
    overflow: hidden;
}
h1{
    font-size: 50px;
    font-family: 'Nova Square', sans-serif;
    font-weight: 700;
}

.swiper{
    margin-top: 50px ;
    
}

.swiper-button-next ,.swiper-button-prev{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 244, 244) !important;
    border-radius: 50%;
    width: 40px !important;
    height: 40px !important;
}
.swiper-button-next:after ,.swiper-button-prev:after{
  font-size: 20px !important;
}
.swiper-pagination-bullet{
     background-color: black !important;
}
.swiper-sustom{
    display: flex;
    justify-content: center;
    padding-top: 10px;
}
.catrg{
    background-color: rgba(95, 46, 0, 0.75);
padding-bottom: 30px;
    margin-top: 10px;
    border-radius: 10px;
    padding-top:80px ;
    padding-bottom: 80px;
    border: 1px solid #333;
}
.titelee hr{
    width: 50px;
    text-align: center;
}

.titelee span{
   border-color: rgb(59, 29, 1)!important;
   font-size: 50px;
   font-family: 'Nova Square', sans-serif;
   font-weight: 700;
   color: white ;

}
.titelee  p {
    font-size: 20px;
    color: white;
    margin-top: 10px;
}
.product img {
    width: 350px;
    height: 350px;
    border-radius: 10px;
    border: 1px solid #333;
}
.products{
    background-color: rgba(209, 209, 209, 0.3);
    border-radius: 5px;
    margin-left: 20px !important;
    margin-right: 20px !important;
}
.product h2{
    font-size: 20px;
    color: #333;
    font-family: 'Montserrat', sans-serif;
    margin-top: 10px;
}
.product span {
    font-weight: 500;
    color: #000000;
}
.product a {
    text-decoration: none;
    font-size: 25px;
    font-family: 'Nova Square', sans-serif;
    color: rgb(94, 35, 35);
    font-weight: 700;
}
.image img {
    width: 200px;
    height: 250px;
}
.detalis span  {
font-weight: 900;
font-family: 'Fjalla One', sans-serif;
}
.detalis h1{
    font-family: 'Fjalla One', sans-serif;
    font-weight: 400;
    font-size: 35px;

}
.detalis h2{
    font-size: 25px;
    font-family: 'Fjalla One', sans-serif;

}
.detalis button{
    align-items: center;
width: 30%;
background-color: black;
color: white;
margin-left: 20px;
}
.productInbage img {
    width: 250px;
    height: 250px;
}
.productInbage h1, .productInbage  h2{
    font-family: 'Preahvihear', sans-serif;
font-size: 20px;
}
.productInfoAll {
    margin: 0 10px;
    margin-top: 60px;
height: 520px;    align-items: center;
}
.productInfoAll img {
height: 280px;
border-radius: 50%;
border: 1px solid #acacac;

}

.productInfoAll h1{
    color: rgb(68, 34, 0);
    margin-bottom: 10px;
    border-radius: 15px;
}
.carousel-item  img {
    width: 400px;
    height: 500px;
    border-radius: 10px;
    border: 1px solid #333;
}
.detalis {
    background-color: #dadada;
    border-radius: 10px;
}
.priacAndName a {
    text-decoration: none;
    background-color: #000000;
    padding: 10px;
    border-radius: 20px;
    color: white;
    width: 30%;
    text-align: center;
    font-weight: 500;
    margin: auto;
}
.page-item .page-link:hover{
    cursor: pointer;
}
.rating img {
    width: 20px;
    height: 20px;
    margin-left: 5px;
    border: none;
}
.rating {
    margin: auto;
}
.review{
    border-bottom: 1px solid #999999;
    margin-bottom: 20px;
    background-color: #eeeeee;
    padding: 10px ;
    border-radius: 10px;
}
.createdAt{
    margin: auto;
    font-size: 14px;
}

.formCreateRevie {
    border: 2px solid rgb(255, 255, 255);
    width: 400px;
padding: 25px;
border-radius: 10px;
background-color: rgba(34, 17, 0, 0.4);


}
.formRevHi{
    height: 450px;

}
.formCreateRevie .pRev {
    color: white;
    font-family: 'Bruno Ace SC', sans-serif;
    font-size: 30px;
    text-align: center;
    margin-top: 15px;
    letter-spacing: 1px;
}
.revSub{
    background-color: white ;
    color: #000000;
    width: 90%;
    padding: 8px 0 ;
    margin-left: 20px;
    border-radius: 10px;
    font-weight: 700;
}
.revSub:hover{
    cursor: pointer;
}
.createeRe:hover,.start:hover{
    cursor: pointer;
}
.productInfoAll h1 ,.productInfoAll h2 {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    text-align: center;
    margin-top: 10px;
}
.productInfoAll a {
    text-decoration: none;
    margin-top: 15px;
    border-radius: 15px;
    color: black;
    font-weight: 500;
    background-color: white;
    padding: 10px 25px;
}
.pagination .page-item .page-link{
    color: black !important;
}
.horizontal-slider{
    width: 95%;
    max-width: 500px;
    height: 40px;
border-radius: 10px;
margin-left: 10px;
}
.horizontal-slider .example-track {
top: 20px;
height: 10px;}
.example-track.example-track-1 {
    background-color: rgb(243, 207, 0);
    border-radius: 10px;

}
.example-track.example-track-0 {
    background-color: rgb(0, 0, 0);
    border-radius: 10px;

}.example-track.example-track-2 {
    background-color: gray;
    border-radius: 10px;

}
.horizontal-slider .example-thumb{
    top: 1px;
    width: 25px;
    height: 25px;
    line-height: 20px;
    border-radius: 50%;
    font-size: 12px;
    text-align: center;
    background-color: #000000;
    color: white;
    cursor: pointer;
    box-sizing: border-box;
    border: 1px solid #333;
}
.review .userImg {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid #b6b6b6;
    margin-right: 10px ;
}
.form-select{
    width: 80%;
    background-color: transparent;
    color: white;
    border: none;
margin-left: 10px;}

.form-select option{
    background-color: black;
    padding: 5px;
    border-radius: 10px;
}
.sort {
    background-color: transparent;
    color: white;
    font-size: 16px;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
border: none;
}
.sort:hover{
    border: 1px solid rgb(194, 194, 194);
}
.peiceRange{
    font-size: 25px;
    margin-bottom: 0 !important;
    margin-top: 20px;
    color: gray;
    font-weight: 500;
    font-family: 'Josefin Sans', sans-serif;
}