

@import url('https://fonts.googleapis.com/css2?family=Nova+Square&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,400;0,500;1,100;1,200;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Preahvihear&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
body{
    margin: 0;
    padding: 0;
   margin-top: 0;
    min-height: 100vh;
    background: linear-gradient(to bottom, #ffffff, #fcf7f2,#ffeed4,#FFF2D8);
    font-family: 'Montserrat', sans-serif;


    
}
.Container{
    margin: 15px;
    padding: 0;
    overflow: hidden;
}
h1{
    font-size: 50px;
    font-family: 'Nova Square', sans-serif;
    font-weight: 700;
}

.swiper{
    margin-top: 50px ;
    
}

.swiper-button-next ,.swiper-button-prev{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 244, 244) !important;
    border-radius: 50%;
    width: 40px !important;
    height: 40px !important;
}
.swiper-button-next:after ,.swiper-button-prev:after{
  font-size: 20px !important;
}
.swiper-pagination-bullet{
     background-color: black !important;
}
.swiper-sustom{
    display: flex;
    justify-content: center;
    padding-top: 10px;
}
.catrg{
    background-color: rgba(95, 46, 0, 0.75);
padding-bottom: 30px;
    margin-top: 10px;
    border-radius: 10px;
    padding-top:80px ;
    padding-bottom: 80px;
    border: 1px solid #333;
}
.titelee hr{
    width: 50px;
    text-align: center;
}

.titelee span{
   border-color: rgb(59, 29, 1)!important;
   font-size: 50px;
   font-family: 'Nova Square', sans-serif;
   font-weight: 700;
   color: white ;

}
.titelee  p {
    font-size: 20px;
    color: white;
    margin-top: 10px;
}
.product img {
    width: 350px;
    height: 350px;
    border-radius: 10px;
    border: 1px solid #333;
}
.products{
    background-color: rgba(209, 209, 209, 0.3);
    border-radius: 5px;
    margin-left: 20px !important;
    margin-right: 20px !important;
}
.product h2{
    font-size: 20px;
    color: #333;
    font-family: 'Montserrat', sans-serif;
    margin-top: 10px;
}
.product span {
    font-weight: 500;
    color: #000000;
}
.product a {
    text-decoration: none;
    font-size: 25px;
    font-family: 'Nova Square', sans-serif;
    color: rgb(94, 35, 35);
    font-weight: 700;
}
.image img {
    width: 200px;
    height: 250px;
}
.detalis span  {
font-weight: 900;
font-family: 'Fjalla One', sans-serif;
}
.detalis h1{
    font-family: 'Fjalla One', sans-serif;
    font-weight: 400;
    font-size: 35px;

}
.detalis h2{
    font-size: 25px;
    font-family: 'Fjalla One', sans-serif;

}
.detalis button{
    align-items: center;
width: 30%;
background-color: black;
color: white;
margin-left: 20px;
}
.productInbage img {
    width: 250px;
    height: 250px;
}
.productInbage h1, .productInbage  h2{
    font-family: 'Preahvihear', sans-serif;
font-size: 20px;
}
.productInfoAll {
    background-color: #dbdbdb;
    border-radius: 10px;
    margin: 15px;
    align-items: center;
    display: flex;
    border: 1px solid #b1b1b1;
}
.carousel-item  img {
    width: 400px;
    height: 500px;
    border-radius: 10px;
    border: 1px solid #333;
}
.detalis {
    background-color: #dadada;
    border-radius: 10px;
}
.priacAndName a {
    text-decoration: none;
    background-color: #000000;
    padding: 10px;
    border-radius: 20px;
    color: white;
    width: 30%;
    text-align: center;
    font-weight: 500;
    margin: auto;
}
.page-item .page-link:hover{
    cursor: pointer;
}