.CompleteOrder{
    font-size: 35px !important;
}
.formOrder{
    width: 50%;
    margin: auto;
    margin-bottom: 10px;
 

}
.formOrder{
    border: 1px solid #a0a0a0;
    margin: 40px;
    background-color: rgb(250, 250, 250);
    border-radius: 10px;
    margin: auto;

}
.formOrder input::placeholder{
    color: black !important;
}
.submitOrder{
    width:60%;
    height: 40px;
    margin: 10px auto;
    justify-content: center;
    display: block;
    color: black;
    background-color: rgb(243, 207, 0);
    font-size: 1em;
    font-weight: bold;
    margin-top: 20px;
    outline: none;
    border: none;

    border-radius: 5px;
    transition: 0.2s ease-in-out;
    cursor: pointer;}
.main-input{
    border: 1px solid #a0a0a0;
}
.myOrderImg img {
    width: 200px;
    height: 200px;
    border: 1ox solid #333;
    box-shadow:  2px 8px 15px rgb(243, 207, 0);
    border-radius:50%;

}

.myOrderQuant {
    text-align: center;
    position: absolute;
    bottom: 3px;
    left: 50px;
    border: 1px solid #666666;
    padding: 5px;
    font-size: 15px;
}
.myOrderProduct{
    position: relative;
}