@import url('https://fonts.googleapis.com/css2?family=Nova+Square&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,200;1,200;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300&display=swap');
.navbar{
    background-color: white !important;
    z-index: 1000;
    width: 100%;
    margin-top: 0;
    border-bottom: 1px solid  rgb(49, 28, 5);

}
.count{
    background-color: rgb(243, 207, 0);
    color: black;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    display: inline-block;
border-radius: 0.25rem;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    padding: 0.25rem 0.4rem;

}

.logo img {
    width: 150px;
    height: 50px;
}
.dropdown-toggle{
    font-family: 'Nova Square', sans-serif;
    color: rgb(94, 35, 35);
    font-weight: 700;
font-size: 20px;
}
.dropdown-toggle img{
width: 40px;
height: 40px;
border-radius: 10%;
margin-left: 5px;
}
.company-info ul {
    list-style-type: none;
    padding: 20px;

}

.company-info ul li{
    border-bottom: 1px solid #333;
    margin-bottom: 20px;
}
.company-info ul a{

text-decoration: none;
color: rgb(214, 212, 212);
width: 100%;
margin-bottom: 10px;
}
.company-info span{
    font-size: 25px;
    color: white;
font-weight: 700;
font-family: 'Josefin Sans', sans-serif;}
.finaly{
    height:  400px;
    background-color: rgb(221, 221, 221);
    margin: 12px;
    box-shadow:  15px 15px  20px #333;


}
.finaly .finalimg img {
    width: 70%;
    margin-left: 90px;

}
.icons img {
    width: 40px;
    height: 40px;
    margin-left: 20px;
}

.nav-item a{
    font-weight: 700;
    color: rgb(95, 46, 0);
    font-family: 'Teko', sans-serif;
    font-size: 25px;
    letter-spacing: 1px;
    margin-left: 10px;
}
